<!-- TODO: make the footer a 3 column responsive layout -->
<footer class="footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4">
                <h4>About</h4>
                <ul>
                    <li><a href="#">Learn More</a></li>
                    <li><a href="/people">People</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="ft-title">Resources</h4>
                <ul>
                    <li><a href="#">Docs</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Contact</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Sales</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
