$break-point-desktop-md-max: 1536px;
$break-point-desktop-md-min: 1280px;
$break-point-desktop-sm-max: 1279px;
$break-point-desktop-sm-min: 1024px;
$break-point-tablet-max: 1023px;
$break-point-tablet-min: 768px;
$break-point-phone-max: 767px;
$break-point-phone-sm: 480px;

$blue: #045cf0;
$light: #e8e8e8;
$accent: #ffbd6f;
$light-dark: #101320;
$dark: #0C0E16;
$black: #000;
$white: #fff;
$red: #BC333D;
$star: #fc9715;

$primary: $accent;
$bg-color: $dark;

$common: #4b5563;
$uncommon: #16a34a;
$rare: #2563eb;
$epic: #9333ea;
$legendary: #db2777;
$ancient: #ca8a04;
$unique: #dc2626;
