/* You can add global styles to this file, and also import other style files */
@import './mixins';

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  @include phone-down {
    font-size: 12px;
  }
}
